@import "tailwindcss";

@theme {
  --color-background: #121212;
  --color-foreground: #ffffff;
}

@layer base {
  body {
    background-color: var(--color-background);
    color: var(--color-foreground);
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }
}
